/* body{

} */

.back{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.container{
    
    display: grid;
    place-items: center; 
    height: 100vh;
    
    
}
.log_in_box{
    border: 1px;
    border-color: black;
    border-style: solid;
    display:  grid;
    place-content: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}