body{
    height: 1169px;
    
    background-image:url(image/vecteezy_desktop-wallpapers-wallpaper-desktop-tree_30658232\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
p,input, button{
    font-family: roboto , arial;
}


/* .back{
    object-fit: cover;
    height: 100%;
    width: 100%;
} */
.container{
    
    display: grid;
    place-items: center; 
    position: relative;
    top: 250px;
    
    /* bottom: 280px; */ 
    /* height: 100vh; */
    
    
}
.log_in_box{
    height: 500px;
    width: 500px;
    display: grid;
    
    

    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgb(62, 62, 62);
    backdrop-filter: blur(20px);
    /* / */
}
.username{
    margin-top: 0;
    margin-left: 30px;
}
.pass{
    margin-left: 30px;


}
.log_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    /* margin-bottom: 50px; */
}


.input_cont{
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}
.username{
    height: 50px;
    background: transparent;
    padding-left: 20px;
    color: rgba(96, 96, 96, 0.804);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 380px;

}
.pass{
    margin-top: 20px;
    background: transparent;
    height: 50px;
    padding-left: 20px;
    color: rgba(96, 96, 96, 0.804);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 380px;
    
}
.log_in{
    color: rgba(96, 96, 96, 0.804);
    font-size: 25px;
}